<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.auribises.MyProject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hostel"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".AdminLoginActivity" />
        <activity
            android:name=".StudentActivity"
            android:label="@string/title_activity_student"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".Activity.AdminActivity"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AdminComplaintActivity" />
        <activity android:name=".AdminMessEntryActivity" />
        <activity android:name=".Activity.AdminLeavePermissionActivity" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".Activity.LeaveEntryActivity" />
        <activity android:name=".Activity.AdminLeaveEntryActivity" />
        <activity android:name=".AllStudentsActivity" />
        <activity android:name=".Activity.MessMenuActivity" />
        <activity android:name=".Activity.MessDueActivity" />
        <activity android:name=".FirstActivity" />
        <activity android:name=".Activity.AdminChangePasswordActivity" />
        <activity android:name=".Activity.AdminEntryActivity"></activity>
    </application>

</manifest>